.advantages {
  padding-bottom: 40px;
  background: linear-gradient(
    180deg,
    var(--text-color) 0%,
    var(--text-color) 100%
  );
}
.advantages .container {
  flex-direction: column;
}

.advantages h2 {
  padding-top: 117px;
  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: 210px; */
  font-size: clamp(3.125rem, -0.396rem + 11.27vw, 13.125rem);
  line-height: 80%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);

  text-shadow: 0 60px 90px 0 rgba(0, 0, 0, 0.15);
}

.advantages-top {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/advantages/advantages-bg.png');
}
.advantages-battery {
  max-width: clamp(23.75rem, 9.401rem + 45.92vw, 64.5rem);
  margin: 0 auto;
  margin-top: -300px;
}

.advantages-wrapper {
  height: 944px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.advantages-wrapper ul li {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 90%;
  text-transform: uppercase;
  text-align: center;
  color: #e9e3bd;
}
.advantages-list {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.advantages-list li {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  border-bottom: 1px solid #f2f2e8;
}
.advantages-list li:hover {
  span {
    color: var(--accent-color);
  }
  .advantages-list__box h3 {
    color: var(--accent-color);
  }
}
.advantages-list span {
  width: 100%;
  max-width: 220px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: 130px; */
  font-size: clamp(2.5rem, -7.994rem + 33.58vw, 8.125rem);
  line-height: 90%;
  text-transform: uppercase;
  text-align: justify;
  color: var(--light-color);

  transition: color 0.3s ease;
}
.advantages-list__box {
  margin-right: clamp(1.25rem, -3.397rem + 16.52vw, 13.125rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-list__box h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 90%;
  text-transform: uppercase;
  text-align: justify;
  color: var(--light-color);

  transition: color 0.3s ease;
}
.advantages-list__box p {
  max-width: 650px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fffdf3;
}
