.autonomy {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/autonomy/bg.png');
}
.autonomy .container {
  flex-direction: column;
}
.autonomy h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(2.5rem, -0.37rem + 10.2vw, 11.875rem);
  line-height: 80%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #e9e3bd;
}
.autonomy-list {
  margin-top: 80px;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px clamp(0.75rem, -12.583rem + 17.78vw, 8.75rem);
}
.autonomy-list li {
  width: 100%;
  max-width: 800px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.autonomy-list li img {
  width: 66px;
  height: 66px;
  object-fit: contain;
}
.autonomy-list__info {
  width: 100%;
  max-width: 412px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.autonomy-list__info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 90%;
  text-transform: uppercase;
  text-align: justify;
  color: var(--light-color);
}
.autonomy-list__info span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #e9e3bd;
}
.autonomy-list__power {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 90%;
  text-transform: uppercase;
  color: #e9e3bd;
}
.autonomy-list__power span {
  font-size: 36px;
}
