.documents {
  padding: 80px 0;
  background: #f5f7f9;
}
.documents .container {
  flex-direction: column;
}
.documents h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(2.5rem, 0.96rem + 4.93vw, 6.875rem);
  line-height: 90%;
  text-transform: uppercase;

  color: var(--text-color);
}
.documents-slider,
.tictok-slider {
  position: relative;
  width: 100%;
  margin-top: 80px;
  padding: 0 20px;
}
.documents-slider__btn,
.tictok-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #cccccc;

  border-radius: 50%;
  z-index: 9;
}

.documents-slider__btn svg,
.tictok-slider__btn svg {
  /* position: absolute; */

  /* left: 50%;
  transform: translateX(-50%); */

  height: clamp(1.875rem, -0.536rem + 8.57vw, 3.75rem);
  width: clamp(1.875rem, -0.536rem + 8.57vw, 3.75rem);
  height: 30px;
  width: 30px;
  fill: var(--text-color);
  transition: fill 0.3s ease;
}
.documents-slider__btn:hover svg,
.tictok-slider__btn:hover svg {
  fill: var(--accent-color);
}
.documents-slider__btn--next,
.tictok-slider__btn--next {
  right: 0px;
}
.documents-slider__btn--prev,
.tictok-slider__btn--prev {
  left: 0px;
}
.documents-slider__btn--next svg,
.tictok-slider__btn--next svg {
  margin-right: 8px;
}
.documents-slider__btn--prev svg,
.tictok-slider__btn--prev svg {
  margin-left: 8px;
}

.documents-slider__item,
.tictok-slider__item {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.documents-slider__box,
.tictok-slider__box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.documents-slider__box p,
.tictok-slider__box p {
  max-width: 256px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--text-color);
}
.documents-slider__box svg {
  fill: var(--text-color);
  transition: fill 0.3s ease;
}
.documents-slider__box svg:hover {
  fill: var(--accent-color);
}
