.equipment {
  padding: 80px 0;
  background: #f5f7f9;
}
.equipment .container {
  flex-direction: column;
  align-items: start;
}
.equipment h2 {
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-family);

  font-size: clamp(1.875rem, -1.696rem + 11.43vw, 6.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}
.equipment-wrapper {
  margin-top: 142px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 280px;
  gap: clamp(3.75rem, -21.25rem + 33.33vw, 18.75rem);
}
.equipment-wrapper__item {
  /* max-width: 723px; */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 40px;
}
.equipment-wrapper__item p {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}
.equipment-wrapper__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 14px;
}
.equipment-wrapper__box--item {
  width: 100%;
  max-width: 168px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-color);
}
.equipment-wrapper__box--item img {
  width: 102px;
  height: 61px;
}
.equipment-btn {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.equipment-btn span {
  margin: 0 auto 0 0;
  text-align: center;
  flex: 1;
}
.equipment-btn img {
  margin-left: auto;
  width: 28px;
  height: 28px;
}
.equipment-text {
  width: 86%;
  margin-top: 80px;
  color: var(--text-color);
  font-family: var(--second-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 36.4px */
}
.equipment-box {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
}

.equipment-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
.equipment-modal.active {
  display: flex;
}
.equipment-modal__slider {
  width: 100%;
  max-width: 1800px;
  height: auto;
  padding: 40px;
  background: var(--light-color);
  border-radius: 10px;

  transform: scale(0.7);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  overflow: hidden;
}
/* .equipment-modal__slider .swiper-wrapper {
  overflow: hidden;
} */
.equipment-modal.active .equipment-modal__slider {
  transform: scale(1);
  opacity: 1;
}
.equipment-modal__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.equipment-modal__slide img {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.equipment-modal__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  z-index: 9;
}

.equipment-modal__btn:hover {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.equipment-modal__btn--next {
  padding-right: 8px;
  right: 20px;
}
.equipment-modal__btn--prev {
  padding-left: 8px;
  left: 20px;
}
.equipment-modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
}
