.hero {
  height: 100vh;
  height: 100dvh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/hero/hero-bg-1920.webp');

  overflow: hidden;
}
.hero-container {
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-logo {
  position: absolute;
  width: 100%;
  max-width: 1700px;

  display: inline-block;

  top: 44%;
  left: 48%;
  transform: translate(-50%, -50%);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 300px;
  font-size: clamp(3.5rem, -1.87rem + 17.18vw, 18.75rem);
  letter-spacing: -0.22em;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2e8;

  animation: fadeUp 2s ease-in-out 0.7s forwards;
  animation-delay: 4.2s;

  pointer-events: none;
  text-shadow: 0 60px 90px 0 rgba(0, 0, 0, 0.15);
}
.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 2.3s ease forwards;
}

.letter-decor {
  opacity: 0;
  position: absolute;
  top: -40px;

  right: clamp(1.375rem, -0.21rem + 5.07vw, 5.875rem);

  animation: rotate 3s ease forwards;
  animation-delay: 2.7s;
}
.letter-decor svg {
  width: clamp(1.875rem, -0.854rem + 8.73vw, 9.625rem);

  height: clamp(1.375rem, -0.518rem + 6.06vw, 6.75rem);
}

.letter:nth-child(1) {
  animation-delay: 0.7s;
}
.letter:nth-child(2) {
  animation-delay: 1s;
}
.letter:nth-child(3) {
  animation-delay: 1.3s;
}
.letter:nth-child(4) {
  animation-delay: 1.6s;
}
.letter:nth-child(5) {
  animation-delay: 1.9s;
}
.letter:nth-child(6) {
  animation-delay: 2.1s;
}
.letter:nth-child(7) {
  position: relative;
  animation: fadeInAndMove 1s ease-in-out 0.7s forwards;
  animation-delay: 2.4s;
}

.hero-slider {
  opacity: 0;
  transform: translateY(60%);
  position: absolute;
  bottom: 50px;
  /* max-width: 950px; */
  /* max-width: clamp(18.75rem, 6.314rem + 44.22vw, 59.375rem); */
  /* margin-left: 130px; */
  transition: transform 0.3s ease, opacity 0.3s ease;

  animation: fadeUpSlider 1s ease-in-out 0.7s forwards;
  animation-delay: 5.2s;
}

.hero-slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-slider__item img {
  /* max-width: 954px; */
  max-width: clamp(20rem, -19.625rem + 105.67vw, 59.625rem);
}

.hero-slider-button {
  opacity: 0;
  transform: translateY(60%);

  position: absolute;
  bottom: 63px;

  /* 800 - 450  */
  /* width: 130px; */
  width: clamp(3.875rem, -1.589rem + 19.43vw, 8.125rem);
  /* height: 130px; */
  height: clamp(3.875rem, -1.589rem + 19.43vw, 8.125rem);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--light-color);
  border-radius: 50%;
  transition: background 0.3s ease, border 0.3s ease, transform 0.3s ease,
    opacity 0.3s ease;

  animation: fadeUpSlider 1s ease-in-out 0.7s forwards;
  animation-delay: 4s;

  z-index: 8;
}

.hero-slider-button:hover {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.hero-slider-button-next {
  padding-right: 8px;
  right: clamp(1.25rem, -2.142rem + 7.07vw, 6.25rem);
}
.hero-slider-button-prev {
  padding-left: 8px;
  left: clamp(1.25rem, -2.142rem + 7.07vw, 6.25rem);
}

.hero-wrapper {
  opacity: 0;
  transform: translateY(60%);

  position: absolute;
  flex-direction: column;
  gap: 24px;
  bottom: 50px;

  z-index: 8;
  transition: transform 0.3s ease, opacity 0.3s ease;

  animation: fadeUpSlider 1s ease-in-out 0.7s forwards;
  animation-delay: 5s;

  pointer-events: none;
}
.hero-text {
  border-radius: 10px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--light-color);
  text-align: center;
  /* font-size: 60px; */
  font-size: clamp(1rem, -0.964rem + 6.29vw, 3.75rem);
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
}
.hero-text span {
  font-size: 160px;
  font-size: clamp(4.375rem, 0.357rem + 12.86vw, 10rem);
}
.hero-text__item {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}
.hero-text__item p {
  font-weight: 400;
  font-family: var(--font-family);
}

.hero-decor {
  position: absolute;
  opacity: 0;
}
.hero-decor__dron {
  width: 428px;

  /* height: 141px; */
  height: clamp(5.563rem, 3.241rem + 7.43vw, 8.813rem);
  top: 170px;
  left: 0;
  animation: appear 1s ease-in-out forwards, float 3s ease-in-out infinite 1s;

  animation-delay: 6s;
}
.hero-decor__phone {
  width: 648px;
  /* height: 449px; */
  bottom: 100px;
  left: -40px;

  animation: appear 1s ease-in-out forwards;
  animation-delay: 6.5s;
}
.hero-decor__book {
  width: 648px;
  /* height: 449px; */
  bottom: 100px;
  right: -40px;

  animation: appear 1s ease-in-out forwards;
  animation-delay: 6.9s;

  z-index: 3;
}
