.main {
  position: relative;
  padding: 80px 0;
  background: #f5f7f9;
}

.main .container {
  flex-direction: column;
}
.main h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(2.625rem, -4.931rem + 15.74vw, 6.875rem);
  line-height: 90%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  opacity: 0.77;
}
.main-list {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.main-list__wrapper {
  display: flex;
  flex-direction: column;
}
.main-bottom__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.main-list__characteristics,
.main-list__connection,
.main-list__interfaces,
.main-bottom__charge,
.main-bottom__invertor {
  width: 100%;
  width: clamp(22.75rem, -3.792rem + 32.67vw, 35rem);

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-list__characteristics h3,
.main-list__connection h3,
.main-list__interfaces h3,
.main-bottom__charge h3,
.main-bottom__invertor h3 {
  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: 32px; */
  font-size: clamp(1.25rem, -0.55rem + 2.4vw, 2rem);
  line-height: 110%;
  color: var(--text-color);
  text-align: left;
}
.main-list__characteristics li,
.main-list__connection li,
.main-list__interfaces li,
.main-bottom__charge li,
.main-bottom__invertor li {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: 18px; */
  font-size: clamp(1rem, 0.458rem + 0.67vw, 1.25rem);
  line-height: 90%;
  text-transform: uppercase;

  color: var(--text-color);

  border-bottom: 1px solid var(--text-color);
}

.main-list__characteristics li p:nth-of-type(2),
.main-list__connection li p:nth-of-type(2),
.main-list__interfaces li p:nth-of-type(2),
.main-bottom__charge li p:nth-of-type(2),
.main-bottom__invertor li p:nth-of-type(2) {
  min-width: 65px;
  text-align: right;
}
.main-list__characteristics {
  margin-top: 236px;
}

.main-list__interfaces {
  margin-top: 140px;
}

.main-bottom {
  padding-top: 100px;
  /* от 1700 до 1200  */
  padding-top: clamp(6.25rem, -23.75rem + 40vw, 18.75rem);
}
.main-bottom .container {
  align-items: flex-start;
}
.main-bottom h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 110px;
  /* от 1700 до 768  */
  font-size: clamp(2.625rem, -0.877rem + 7.3vw, 6.875rem);
  line-height: 90%;
  text-transform: uppercase;
  color: var(--text-color);
}
.main-bottom__list {
  margin-top: 73px;
}

.main-decor {
  position: absolute;
  top: 200px;
  /* от 1700 до 768  */
  width: clamp(16.375rem, 8.598rem + 16.2vw, 25.813rem);
  height: clamp(67.313rem, 35.33rem + 66.63vw, 106.125rem);
  /* от 1700 до 768  */
  left: 50%;
  transform: translateX(-50%);
}

.main-battery {
  position: absolute;
  left: 0;
  /* width: 413px to 262px; */
  width: clamp(16.375rem, 8.598rem + 16.2vw, 25.813rem);
  filter: drop-shadow(100px 100px 40px rgba(0, 0, 0, 0.15));
}
.main-battery:nth-of-type(1) {
  top: 0;
  /* от 1700 до 768  */
  /* height: 1141px to 724px; */

  height: clamp(45.25rem, 23.774rem + 44.74vw, 71.313rem);
  /* от 1700 до 768  */
}
.main-battery:nth-of-type(2) {
  bottom: 0;
  /* от 1700 до 768  */
  /* height: 562px to 356px; */
  height: clamp(22.25rem, 11.641rem + 22.1vw, 35.125rem);
  /* от 1700 до 768  */
}
