.header {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 9;
}
.header .container {
  width: 100%;
  justify-content: space-between;
}
.header-logo img {
  width: 158px;
  height: 23px;
}
.header-pagination {
  gap: 80px;
}
.header-pagination__item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2e8;
  opacity: 0.5;

  cursor: pointer;
}
.header-pagination__item.active {
  opacity: 1;
}
.header-nav {
  display: none;
  visibility: hidden;
}
