.tov {
  padding: 80px 0;
}
.tov .container {
  flex-direction: column;
}
.tov h2 {
  color: var(--text-color);
  text-align: justify;
  font-family: var(--font-family);
  /* font-size: 170px; */
  font-size: clamp(3.125rem, 0.829rem + 8.16vw, 10.625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 171px */
  text-transform: uppercase;
}
.tov p {
  color: var(--text-color);
  font-family: var(--second-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tov-top {
  margin-top: clamp(3.75rem, 1.125rem + 9.33vw, 8.125rem);
  display: flex;
  align-items: stretch;
  gap: 50px;
}
.tov-bottom {
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  gap: 50px;
}
.tov-top__box {
  display: grid;
  height: auto;
  align-content: space-between;
}

.tov-bottom__box {
  min-width: 460px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
